@green-button: #b1d33b;
@orange-button: #f14837;

.btn-success {
    &.btn-green {
        color: #fff;
        background-color: @green-button;
        border-color: @green-button;
    }
}

.btn-success{
    &.btn-orange {
        color: #fff;
        background-color: @orange-button;
        border-color: @orange-button;  
        border-radius: 18px;
    }
}


.newsletter .email-button {
    border-radius: 4px;
    border-color: silver;
    background: @orange-button;
    margin-top: 10px;
    margin-bottom: 3px;
    border-radius: 18px;
}