<p><strong>Rezerwacja nr {{id}}/2017 </strong><strong>złożona dnia: {{data}}</strong><br /> <strong>&nbsp;- potwierdzenie wpłynięcia do sklepu</strong></p>
<p>&nbsp;</p>
<p><strong>Szanowny Kliencie,</strong></p>
<p>dziękujemy za zainteresowanie zakupami w naszym Sklepie.</p>
<p><br /> Do sklepu internetowego  wpłynęła rezerwacja o numerze <strong>{{id}}/2017.</strong></p>
<p>O zatwierdzeniu rezerwacji zostaną Państwo poinformowani e-mailem lub telefonicznie.</p>
<p>&nbsp;</p>
<p>Aktualny status realizacji jest dostępny na <a href="https://tanietorebki.pl/logowanie">Twoim koncie</a>. <br /> <br />&nbsp;<br /> <strong style="font-size: 13px;">Szczeg&oacute;ły zam&oacute;wienia:</strong><br /><br /></p>

<table style="width: 771px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 11px; color: #444444; width: 337px;" valign="top">Nazwa produktu</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 11px; color: #444444; width: 84px;" align="center" valign="top">Ilość</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 11px; color: #444444; width: 104px;" align="right" valign="top">Cena netto</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 11px; color: #444444; width: 140px;" align="right" valign="top">Cena brutto</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 11px; color: #444444; width: 112px;" align="right" valign="top">Wartość</td>
</tr>

{{#items}}
<tr>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; border-top: 1px solid #cccccc; width: 337px;" valign="top"><br /> <strong>{{name}}</strong><br>{{#optionsVar}}{{name}}, {{/optionsVar}}</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; border-top: 1px solid #cccccc; width: 84px;" align="center" valign="top"><br /> {{quantity}}</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; border-top: 1px solid #cccccc; width: 104px;" align="right" valign="top"><br /> {{price_one}} PLN</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; border-top: 1px solid #cccccc; width: 140px;" align="right" valign="top"><br /> {{price_one}} PLN</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; border-top: 1px solid #cccccc; width: 112px;" align="right" valign="top"><br /> {{quantityPriceOne}} PLN</td>
</tr>
{{/items}}
<tr>
<td style="border-top: 1px solid #cccccc; width: 665px;" colspan="4" valign="top" height="20">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; font-weight: bold; width: 337px;" valign="top" height="20">Wartość produkt&oacute;w:</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 188px;" colspan="2" align="left" valign="top" height="20">&nbsp;</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 140px;" align="right" valign="top" height="20">{{products_price}} PLN</td>
</tr>
{{#voucher}}
<tr>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; font-weight: bold; width: 337px;" valign="top" height="20">Rabat:</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 84px;" align="left" valign="top" height="20">&nbsp;</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 104px;" align="right" valign="top" height="20">{{voucher_name}}</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 140px;" align="right" valign="top" height="20">{{#voucher_percent}}
{{voucher_percent}}
{{/voucher_percent}}
{{#voucher_price}}
{{voucher_price}}
{{/voucher_price}}
</td>
</tr>
   
{{/voucher}}

         


<tr>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 337px;" valign="top" height="20">Przesyłka</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 188px;" colspan="2" align="right" valign="top" height="20">{{transport_name}}</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 140px;" align="right" valign="top" height="20">{{transport_price}} PLN</td>
</tr>
<tr>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 337px;" align="left" valign="top" height="20">Do zapłaty</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 188px;" colspan="2" align="right" valign="top" height="20">{{payment_name}}</td>
<td style="font-family: Arial, Geneva, Helvetica, sans-serif; font-size: 12px; color: #444444; width: 140px;" align="right" valign="top" height="20">{{toPay}} PLN</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
{{#fv}}
<p><strong style="font-size: 13px;">Dane do Faktury VAT</strong> <br /><br /></p>
<p>{{fv_company}}, {{fv_nip}}, {{fv_address}}, {{fv_postcode}}, {{fv_city}}, {{fv_country}}</p>
<p>&nbsp;</p>
{{/fv}}
<p><strong style="font-size: 13px;">Adres wysyłki</strong></p>
{{#d_company}}
{{d_name}}, {{d_address}}, {{d_postcode}}, {{d_city}}, {{d_country}}
{{/d_company}}
<p>&nbsp;</p>
<p><br /><br />Pozdrawiamy,<br /> Obsługa Sklepu Internetowego<br /> TanieTorebki.pl<br /> <br /> PS: Jeżeli zam&oacute;wienie zostało złożone przez inną osobę,&nbsp;prosimy o odesłanie tej wiadomości na adres <a href="mailto:sklep@tanietorebki.com.pl">sklep@tanietorebki.com.pl</a></p>
