﻿.active_category {
    color: #f14837;
    border-top: 2px solid #f14837;
}

.border {
  border-bottom: 1px solid black;
}

.main-bg {
  background-image: url(../images/about_bg.jpg);
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.font2 {
  font-family: 'Raleway', sans-serif;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
.btn-success.btn-green {
  color: #fff;
  background-color: #b1d33b;
  border-color: #b1d33b;
}
.btn-success.btn-orange {
  color: #fff;
  background-color: #f14837;
  border-color: #f14837;
  border-radius: 18px;
}
.newsletter .email-button {
  border-radius: 4px;
  border-color: silver;
  background: #f14837;
  margin-top: 10px;
  margin-bottom: 3px;
  border-radius: 18px;
}
/* newsletter */
.newsletter {
  background: transparent;
}
.newsletter .email-input {
  margin-top: 10px;
  margin-bottom: 3px;
  border-radius: 18px;
}
.newsletter .email-radio {
  margin: 5px;
}
.newsletter .radio {
  padding: 5px;
}
/* image bar */
.image-bar img {
  display: inline;
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* footer */
.footer h3 {
  font-size: 20px;
}
.footer a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: gray;
}
.footer .facebook {
  margin-top: 20px;
  border: 1px solid silver;
  padding: 10px;
}
/* category description */
.category-info {
  overflow: hidden;
}
.category-info .description {
  float: left;
  width: 50%;
  padding: 10px;
  border-right: 1px solid silver;
  display: none;
}
.category-info .description h3 {
  margin-top: 0px;
}
.category-info .options {
  margin-left: 25px;
  margin-top: 5px;
  float: left;
}
.category-info .options .form-control {
  margin-right: 50px;
  border-radius: 10px;
}
/* breadcrumb */
.breadcrumb a {
  color: gray;
  text-decoration: none;
}
.breadcrumb {
  background: none;
  height: 30px;
}
/* product list */
.product-list .col-md-6 {
  padding-bottom: 15px;
}
.product-list .col-md-6 a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}
.product-list .col-md-6:hover {
  -moz-box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
}
.product-list {
  margin-top: 25px;
}
.product-list .row {
  text-align: center;
  font-size: 12px;
  margin-left: 25px;
}
.product-list .row img {
  margin: auto;
  margin-bottom: 10px;
}
.product-list .price {
  color: #f14837;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid silver;
}
.product-list .price span {
  color: #666666;
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
}
.product-list .add-to-cart-button {
  border-radius: 15px;
  background-color: #F52A55;
  color: white;
  position: absolute;
  width: 100px;
  line-height: 10px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -16px;
  z-index: 1000;
  border: 1px solid #c7006a;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #f14837;
  background-image: -ms-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: -moz-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: -o-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(25, #f14837), color-stop(100, #FF1919));
  background-image: -webkit-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: linear-gradient(to bottom right, #f14837 25%, #FF1919 100%);
}
.product-list .add-to-cart-button:hover {
  border: 1px solid #990052;
  background: #bc0062;
}
/* main wrapper */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.show {
  padding-left: 250px;
}
/* left sidebar */
#sidebar-wrapper {
  z-index: 1000;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: transparent;
  border: 1px solid silver;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  float: left;
  margin-bottom: 15px;
  box-shadow: 2px 2px 2px gray;
}
#wrapper.show #sidebar-wrapper {
  width: 250px;
}
.sidebar .sidebar-header-delimiter {
  border-top: 2px solid #F52A55;
  width: 100px;
  margin-left: 20px;
  margin-top: -4px;
}
.sidebar .form-control {
  border-radius: 10px !important;
  margin-left: 5px;
  margin-bottom: 10px !important;
}
.sidebar {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar li {
  display: block;
  padding: 5px 10px 5px 20px;
}
.sidebar li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.sidebar li a.active {
  color: #f14837;
}
.sidebar li a:hover {
  text-decoration: none;
  color: #ca1954;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar li a:active,
.sidebar li a:focus {
  text-decoration: none;
}
#sidebar-wrapper .search-button {
  border-radius: 15px;
  background-color: #F52A55;
  color: white;
  width: 130px;
  line-height: 15px;
  margin-left: 40px;
  margin-top: -25px;
  margin-bottom: 5px;
  border: 1px solid #c7006a;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #f14837;
  background-image: -ms-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: -moz-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: -o-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(25, #f14837), color-stop(100, #FF1919));
  background-image: -webkit-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: linear-gradient(to bottom right, #f14837 25%, #FF1919 100%);
}
#sidebar-wrapper .search-button:hover {
  border: 1px solid #990052;
  background: #bc0062;
}
.sidebar > .sidebar-header {
  font-size: 18px;
  line-height: 60px;
}
/* media queries */
@media (min-width: 500px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.show {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.show #sidebar-wrapper {
    width: 0;
  }
  .category-info .description {
    display: block;
  }
}
/* product page -------------------------------------------- */
.product-panel .title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
.product-panel .subtitle {
  color: #666666;
  font-size: 16px;
  letter-spacing: 1px;
}
.product-panel .product-id {
  color: #666666;
}
.product-panel .tabs {
  margin-top: 50px;
  border: 1px solid silver;
}
.product-panel .tabs li a {
  color: #666666;
}
.product-panel .tabs li.active a {
  color: red;
}
.product-panel .tabs li.hover a {
  color: red;
}
.product-panel .tab-pane {
  padding: 15px;
}
.product-panel #description .table {
  margin-top: 25px;
}
.product-panel #description .align-right {
  text-align: right;
  font-weight: bold;
}
.product-panel #description td {
  padding: 15px;
  text-transform: uppercase;
  border: none;
}
.product-panel #description .gray {
  background: #f5f5f5;
}
.product-panel .buttons a {
  color: black;
}
.product-panel .buttons img {
  display: inline;
  padding: 15px;
}
.product-panel .rating {
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-panel .rating a {
  color: #666666;
}
.product-panel .price-panel {
  background: #f5f5f5;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
}
.product-panel .price-panel .old-price {
  color: #666666;
  text-decoration: line-through;
  font-size: 20px;
  letter-spacing: 1px;
}
.product-panel .price-panel .price {
  color: #f14837;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}
.product-panel .price-panel .price span {
  font-size: 16px;
  letter-spacing: 0px;
}
.product-panel .price-panel select.form-control {
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
}
.product-panel .price-panel input.form-control {
  border-radius: 15px;
  width: 50px;
  height: 40px;
}
.product-panel .price-panel button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #f14837;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.product-panel .price-panel button:hover {
  background: #0884bd;
}
.product-panel .header-delimiter {
  border-top: 2px solid #F52A55;
  width: 210px;
  margin-left: 0px;
  margin-top: -4px;
}
.product-panel .promotion {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-panel .main-photo img {
  cursor: pointer;
}
.product-panel .thumbnails img {
  display: inline;
  margin: 10px;
  cursor: pointer;
}
/* Style the Image Used to Trigger the Modal */
.product-panel #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myImg:hover {
  opacity: 0.7;
}
/* The Modal (background) */
.product-panel .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}
/* Modal Content (Image) */
.product-panel .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
.product-panel #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation - Zoom in the Modal */
.product-panel .modal-content,
.product-panel #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.product-panel .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.product-panel .close:hover,
.product-panel .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/* stars */
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  content: '\f005';
  color: #f14837;
}
/* cart page */
.cart-panel .title {
  font-size: 26px;
  letter-spacing: 1px;
  color: #666666;
  font-weight: 300;
}
.cart-panel .table {
  margin-top: 20px;
}
.cart-panel .product-category {
  color: #666666;
  font-size: 11px;
  letter-spacing: 1px;
}
.cart-panel .quantity {
  width: 60px;
  border-radius: 15px;
}
.cart-panel .nheader {
  color: #f14837;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart-panel .gray-box {
  background: #f5f5f5;
  padding: 15px;
}
.cart-panel .images {
  margin: 25px auto;
}
.cart-panel .images a {
  margin-right: 5px;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.cart-panel .images .image-container {
  width: 70px;
  margin: 0 auto;
  padding: 10px;
}
.cart-panel .images .caption {
  margin-top: 10px;
}
.cart-panel .images a {
  width: 85px;
  text-align: center;
  display: block;
  float: left;
}
.cart-panel .images .image-container:hover,
.cart-panel .images .image-container.active {
  background: #f14837;
  border-radius: 70px;
}
.cart-panel .delivery-price {
  color: #f14837;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}
.cart-panel .sum-price {
  color: #f14837;
  font-size: 30px;
  margin-left: 15px;
}
.cart-panel .comments {
  border-radius: 15px;
  width: 100%;
  height: 48px;
  margin-top: 35px;
}
.cart-panel .back {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
  color: black;
  background-color: #f5f5f5;
  border: none;
  margin-top: 5px;
}
.cart-panel .next {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #f14837;
  border: none;
  margin-top: 5px;
  margin-left: 25px;
}
.cart-panel .header-delimiter {
  border-top: 2px solid #F52A55;
  width: 290px;
  margin-left: 0px;
  margin-top: -4px;
}
.cart-panel .accessories {
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart-panel .discount-code input {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
/* popup window */
.modal-backdrop {
  opacity: 0.2 !important;
}
#newsletter-modal .modal-content {
  background: #ffffff url(img/bg.jpg);
}
#newsletter-modal .nheader {
  color: #f14837;
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
}
#newsletter-modal .description {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
}
#newsletter-modal .email-input {
  border-radius: 5px;
}
#newsletter-modal .email-button {
  margin-right: 10px;
  background-color: #f14837;
  background-image: -ms-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: -moz-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: -o-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(25, #f14837), color-stop(100, #FF1919));
  background-image: -webkit-linear-gradient(top left, #f14837 25%, #FF1919 100%);
  background-image: linear-gradient(to bottom right, #f14837 25%, #FF1919 100%);
}
#newsletter-modal .email-button:hover {
  border: 1px solid #990052;
  background: #bc0062;
}
.owl-carousel .owl-item img.height-limit {
  height: 215px;
  max-width: 100%;
  width: auto;
  margin: auto;
  display: block;
}
.slider-product {
  background-image: url(../images/slider_product_bg.png);
  height: 370px;
  overflow: hidden;
}
.yamm .dropdown:hover .dropdown-menu {
  margin-top: -3px;
}
.img-block {
  height: 180px;
  display: block;
  overflow: hidden;
}
.subcategory-menu {
  color: #000;
  font-size: 16px;
  display: block;
  line-height: 35px;
}
.hot-shot {
  color: #f14837;
  font-size: 20px;
  display: block;
  text-align: center;
}
.left-border {
  border-left: 1px solid #ccc;
}
.promo-in-menu img {
  height: 130px;
}
.promo-in-menu {
  text-align: center;
  display: block;
}
.AttrDAltRow {
  background: #f9f9f9;
}
.top-address {
  background: #f5f5f5;
  padding: 10px;
}
.search-groups select {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
body ::selection {
  background: #ff1821;
}
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #ff1821;
}
::-webkit-scrollbar-thumb:horizontal {
  height: 10px;
  background-color: #ff1821;
}
::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: #103184;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*Remove Mozilla Firefox Border â Remove Dotted Line Around Link */
a:active {
  outline: none;
  -moz-outline-style: none;
  text-decoration: none;
}
a:focus {
  -moz-outline-style: none;
  outline: none;
  text-decoration: none;
}
img {
  border: none;
  outline: none;
  -moz-outline-style: none;
}
/*Remove Mozilla Firefox Border â Remove Dotted Line Around Link */
a {
  outline: 0;
  cursor: pointer;
  -moz-outline-style: none;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
.main_all {
  clear: both;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
/**********************************/
nav {
  background: #ffffff;
  padding: 30px;
}
.navbar {
  margin-bottom: 0px;
}
.yamm .navbar-nav > li:nth-child(1) > a {
  padding-left: 0px;
}
.yamm .navbar-nav > li:nth-child(1) > a:before {
  content: "";
  display: block;
  padding-left: 18px;
  height: 36px;
  float: left;
  margin: -8px 6px 0 0;
}
.yamm .navbar-nav > li:nth-child(2) > a:before {
  content: "";
  display: block;
  height: 36px;
  float: left;
  margin: -8px 6px 0 0;
}
.yamm .navbar-nav > li:nth-child(3) > a:before {
  content: "";
  display: block;
  height: 36px;
  float: left;
  margin: -8px 6px 0 0;
}
.yamm .navbar-nav > li:nth-child(4) > a:before {
  content: "";
  display: block;
  height: 36px;
  float: left;
  margin: -8px 6px 0 0;
}
.yamm .dropdown-menu {
  border-top-color: transparent;
}
.nav > li > a {
  font-weight: normal;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  transition: all 0s ease 0s;
  border: 1px solid transparent;
  text-transform: uppercase;
  border-top: 2px solid transparent;
}
.nav > li > a i {
  font-size: 12px;
  top: -4px;
  position: relative;
}
.nav > li > a:hover {
  background-color: transparent;
}
.nav > li > a:focus,
.yamm .navbar-nav .open > a,
.yamm .navbar-nav .open > a:hover,
.yamm .navbar-nav .open > a:focus {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent!important;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent!important;
  color: #f14837;
  border-top: 2px solid #f14837;
}
.list-unstyled,
.list-unstyled ul {
  min-width: 200px;
}
div.header {
  background-image: url('../images/home_bg.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center top;
  height: 550px;
}
.bg-category {
  margin-top: -10px;
  background-image: url('../images/bg.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center -52px;
  margin-bottom: 10px;
}
.header-small {
  height: 56px !important;
}
.search-bar-wrapper {
  font-size: 12px;
  position: relative;
}
.search-bar-wrapper .search-bar {
  border: 1px solid #c7c7c7;
  border-radius: 18px;
  display: table;
  padding: 0 0 0 15px;
  position: relative;
  width: 100%;
}
.search-bar-wrapper .search-text {
  display: table-cell;
  padding: 0 10px 0 0;
  vertical-align: middle;
  width: 100%;
}
.search-bar-wrapper .search-text input[type="text"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4d4d4d;
  height: 33px;
  width: 100%;
}
.search-bar-wrapper .search-groups {
  cursor: pointer;
  display: table-cell;
  height: 100%;
  min-width: 110px;
  padding: 0px 10px 0px 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
.search-bar-wrapper .search-groups::before {
  border-left: 1px solid #eceef0;
  content: "";
  display: inline-block;
  height: 30px;
  padding: 0 10px 0 0;
  top: 5px;
  vertical-align: middle;
}
.search-bar-wrapper .search-groups span {
  margin: 0 30px 0 0;
}
.search-bar-wrapper .search-groups i.caret {
  position: absolute;
  right: 10px;
  top: 20px;
  transition: all 0.25s ease 0s;
}
.search-bar-wrapper .search-groups ul {
  background: #fff none repeat scroll 0 0;
  border-color: #d0d5da;
  border-radius: 0 0 15px 15px;
  border-style: solid;
  border-width: 0 1px 1px;
  display: none;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: -52px;
  top: 100%;
  width: 162px;
}
.search-bar-wrapper .search-groups li.selected,
.search-bar-wrapper .search-groups li:hover {
  background: #f0f0f0 none repeat scroll 0 0;
  color: #444;
}
.search-bar-wrapper .search-button {
  display: table-cell;
  width: 66px;
}
/*.search-bar-wrapper .search-button button {
    background: #FFF;
    background-image: url('../images/search.png');
    height: 44px;
    width: 43px;
    border: medium none;
    border-radius: 30px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}*/
.bars {
  margin-top: -20px;
}
.menu-bars {
  width: 32%;
  display: inline-block;
}
.phone {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.user img,
.cart img {
  margin: 0 auto;
}
.user span,
.cart span,
.promo-in-menu span {
  display: block;
}
.user a,
.cart a {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #2d2d2d;
}
.promo-in-menu {
  text-align: center;
}
.promo-in-menu img {
  margin: 0 auto;
  text-align: center;
}
.owl-carousel {
  /*        .item {
                background-repeat: no-repeat;
                background-size: 100% 100%;
                min-height: 388px;
                padding: 1rem;
                position: relative;
                transition: left 0.6s ease-in-out 0s;
            }*/
}
.owl-carousel.owl-carousel-big {
  position: relative;
}
.owl-carousel.owl-carousel-big .owl-dots {
  bottom: 7px;
  position: absolute;
  right: 7px;
}
.owl-carousel.owl-carousel-big .btn.btn-success {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding: 6px 40px;
}
.owl-carousel-mini-container {
  position: relative;
}
.owl-carousel-mini-container h3 {
  position: absolute;
  top: 3px;
  left: 10px;
  z-index: 100;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}
.owl-carousel-mini-container .owl-carousel.owl-carousel-mini .product-page-box {
  padding-top: 50px;
}
.owl-carousel-mini-container .owl-carousel.owl-carousel-mini .product-page-box .product-caption {
  margin-top: 20px;
}
.owl-carousel-mini-container .owl-carousel.owl-carousel-mini .product-page-box .product-caption .category {
  border-top: 0px solid #ffffff;
  padding-top: 0px;
}
.owl-carousel-mini-container .owl-carousel.owl-carousel-mini .product-page-box .product-caption .category .title {
  font-family: 'Raleway', sans-serif;
  color: #28374D;
}
.owl-carousel-mini-container .owl-carousel.owl-carousel-mini .product-page-box .product-caption .product-price {
  font-family: 'Raleway', sans-serif;
  color: #28374D;
  font-size: 38px;
}
.owl-carousel-mini-container .owl-carousel.owl-carousel-mini .owl-dots {
  position: absolute;
  right: 11px;
  top: 23px;
}
.owl-dots .owl-dot {
  display: inline-block;
  border-radius: 4px;
  width: 26px;
  height: 26px;
  padding: 4px;
  text-align: center;
  margin-right: 3px;
  background: #fff;
  border: 0px solid #FFF;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  color: #5c676f;
  font-weight: bold;
}
.owl-dots .active {
  color: #FFF;
  border: 0px solid #FFF;
  background: transparent;
}
.owl-carousel-mini .owl-dots .owl-dot {
  background: #ffffff;
  color: #121926;
  border-color: #121926;
  height: 22px;
  padding: 2px;
  width: 22px;
  border-radius: 12px;
}
.owl-carousel-mini .owl-dots .active {
  color: white;
  border: 0px solid #121926;
  background: #121926;
  border-radius: 12px;
}
.navbar-toggle .icon-bar {
  background: #000 none repeat scroll 0 0;
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
}
.padding-0 {
  padding: 0px;
}
.start-box {
  margin-top: 50px;
}
.start-box .box {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: transparent;
  border-top: 0px;
  border-radius: 6px;
}
.start-box .box figure {
  position: relative;
  height: 235px;
}
.start-box .box figure h4 {
  z-index: 169;
  position: absolute;
  color: white;
  top: 22px;
  left: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}
.start-box .box figure .btn-success {
  z-index: 169;
  position: absolute;
  color: white;
  top: 135px;
  left: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1px 13px 0px 16px;
}
.start-box .box figure .btn-success i {
  font-size: 28px;
}
.start-box .box figure img {
  position: absolute;
}
.start-box .box .desc {
  padding: 0 10px 10px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  color: #8d8d8d;
  min-height: 130px;
}
.start-box .box.box-1 figure img {
  position: absolute;
  top: -10px;
  left: -1px;
  max-width: 272px;
}
.start-box .box.box-2 figure img {
  position: absolute;
  top: 0px;
  left: -1px;
  max-width: 262px;
}
.start-box .box.box-3 figure img {
  position: absolute;
  top: 0px;
  left: -1px;
  max-width: 270px;
}
.start-box .box.box-4 figure img {
  position: absolute;
  top: 0px;
  left: -1px;
  max-width: 284px;
}
.margin-bottom-promo {
  margin: 36px 0;
  clear: both;
}
.product-page-box {
  border: 1px solid transparent;
  position: relative;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  min-height: 377px;
  margin-bottom: 47px;
}
.product-page-box .button {
  background-color: #f14837;
  bottom: -21px;
  display: none;
  height: 37px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 134px;
  cursor: pointer;
  color: white;
  border-radius: 18px;
  padding-top: 7px;
  font-weight: bold;
}
.product-page-box:hover .button {
  display: block;
  z-index: 999;
}
.product-page-box:hover {
  border-bottom: 5px solid #f14837;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.57);
}
.product-page-box:hover p.product-price {
  color: #121926;
}
.product-page-box .title {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #333333;
  font-weight: bold;
  height: 50px;
  overflow: hidden;
  display: block;
}
.product-page-box .category {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: #28374D;
  text-transform: uppercase;
  height: 50px;
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
  margin-bottom: 20px;
}
.product-page-box p.product-price {
  line-height: 25px;
  margin-bottom: 0;
  text-transform: uppercase;
  height: 50px;
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #f14837;
}
.product-page-box p.product-price span {
  color: #ffa49b;
  font-size: 20px;
  font-weight: 300;
  line-height: 21px;
  margin-right: 9px;
  text-decoration: line-through;
}
.product-page-box .padding-product {
  padding: 5px 10px;
  cursor: pointer;
}
h2.beauty {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: 300;
  position: relative;
  padding-left: 18px;
}
h2.beauty::before {
  background: #f14837 none repeat scroll 0 0;
  bottom: -7px;
  content: "";
  height: 23px;
  left: 3px;
  position: absolute;
  width: 13px;
  float: left;
  margin-bottom: 13px;
  border-radius: 5px;
}
h4.beauty {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: 300;
  position: relative;
  padding-left: 18px;
}
h4.beauty::before {
  background: #f14837 none repeat scroll 0 0;
  bottom: -7px;
  content: "";
  height: 23px;
  left: 3px;
  position: absolute;
  width: 13px;
  float: left;
  margin-bottom: 13px;
  border-radius: 5px;
}
section.about {
  background: #f4f4f4;
  background-image: url(../images/about_bg.jpg);
  padding: 30px 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #767676;
  line-height: 1.714;
  font-weight: 300;
  margin-top: 30px;
  height: 233px;
}
.img-border {
  border-left: 1px solid #b6b6b6;
  padding: 0 30px;
}
.center {
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .col-half-offset {
    margin-left: 0.36667%;
  }
  .col-xs-2 {
    width: 19.6667%;
  }
}
@media only screen and (max-width: 992px) {
  .logo {
    margin: 0 auto;
    text-align: center;
  }
  .bars {
    margin: 0px;
  }
  .padding-0 {
    padding: 0px 15px;
  }
  .yamm .navbar-nav > li:nth-child(1) > a {
    padding: 10px 15px;
  }
  .yamm .navbar-nav > li > a:before {
    display: none !important;
  }
  .col-half-offset {
    margin-left: 0.36667%;
  }
  .col-xs-2 {
    width: 30.6667%;
  }
}
@media only screen and (max-width: 767px) {
  .static-box-rwd {
    width: 50%;
    margin-bottom: 30px;
  }
  .start-box .box .desc {
    height: 180px;
  }
}
@media only screen and (max-width: 744px) {
  .col-xs-2 {
    width: 49%;
  }
}
@media only screen and (max-width: 500px) {
  .col-xs-2 {
    width: 99%;
  }
}
@media only screen and (max-width: 360px) {
  .static-box-rwd {
    width: 100%;
    margin-bottom: 30px;
  }
}
.clear10 {
  clear: both;
  height: 10px;
}
.clear20 {
  clear: both;
  height: 20px;
}
.clear50 {
  clear: both;
  height: 50px;
}
.clear60 {
  clear: both;
  height: 60px;
}
.line {
  height: 1px;
  background: #ccc;
  margin: 10px 0px;
  width: 100%;
}
#basket-ico {
  position: relative;
  display: inline-block;
}
#basket-ico .badge {
  position: absolute;
  top: 6px;
  left: 0px;
  background: #f14837;
}
.btn-sck {
  background: #F52A55;
  color: #fff;
  border-radius: 13px;
}
.btn-sck:hover {
  background: #A01442;
  color: #fff;
}
.mauto {
  margin: auto;
}
#toTop {
  background: url(../do_gory.png);
  width: 67px;
  height: 45px;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
.alert h4 {
  font-weight: bold;
}
.alert strong {
  font-weight: bold;
  color: #A01442;
}
#sidebar-wrapper.sidebar-filters .sidebar .system-filter .filter-name {
  cursor: pointer;
}
#sidebar-wrapper.sidebar-filters .sidebar .system-filter .filter-content {
  display: none;
}
#sidebar-wrapper.sidebar-filters .sidebar .system-filter:first-child .filter-content {
  display: block;
}
.banner-container {
  position: relative;
}
.banner-container .banner-content {
  position: absolute;
  text-align: left;
  left: 100px;
  bottom: 100px;
  text-transform: uppercase;
  color: white;
  font-size: 46px;
  z-index: 100;
}
.our-adventages span {
  float: left;
}
.our-adventages span.caption {
  margin: 10px 0px 0px 10px;
}
/*# sourceMappingURL=main.css.map */
